<div class="mb-3">
    <label for="inputFirstname" class="form-label">Firstname</label>
    <input type="text" class="form-control" id="inputFirstname" name="first_name" value="{{this.first_name}}">
</div>

<div class="mb-3">
    <label for="inputLastname" class="form-label">Lastname</label>
    <input type="text" class="form-control" id="inputLastname" name="last_name" value="{{this.last_name}}">
</div>

<div class="mb-3">
    <label for="inputEmail" class="form-label">E-Mail</label>
    <input type="text" class="form-control" id="inputEmail" placeholder="example@mail.com" name="email" value="{{this.email}}">
</div>

<div class="mb-3">
    <label for="inputNumber" class="form-label">Phone</label>
    <input type="text" class="form-control" id="inputNumber" name="phone" value="{{this.phone}}">
</div>

<div class="mb-3">
    <label for="inputComment" class="form-label">Comment</label>

    <textarea class="form-control" id="inputComment" style="height: 100px" name="comments">{{this.comments}}</textarea>

</div>

<button type="submit" class="btn btn-primary">Submit</button>
