<script>
    $(document).ready(function() {
        $("#ajaxButton").click(function () {
            $.ajax({
                url: "http://localhost:3000/getnotes",
                type: "GET",
                cache: true,
                success: function (response) {
                    $.each(response, function (key, value) {
                        $('#tbodyid').append("<tr>\
										<td>" + value.input + "</td>\
										</tr>");
                    })
                }
            })
        });
    })
</script>

<button id="ajaxButton">Show Tasks</button>

<div class="col-lg-6">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
        </tr>
        </thead>
        <tbody id="tbodyid">
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-6" id="userTitle">
        <h1>Users</h1>
    </div>
    <div class="col-6 justify-content-end d-flex">
        <a href="/adduser" type="button" class="btn btn-primary align-self-center mt-2" id="addUserBtn">add user</a>
    </div>
</div>

<table class="table table-bordered" id="tablehead" >
    <thead class="thead-dark">
    <tr >
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col" class="text-end">Action</th>

    </tr>
    </thead>
    <tbody id="table">
    {{#each rows}}
    <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.first_name}}</td>
        <td>{{this.last_name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.phone}}</td>
        <td class="text-end">
            <a href="/edituser/{{this.id}}" type="button" class="btn btn-light btn-small" id="edit"><i class="bi bi-pencil"></i> Edit</a>
            <a href="/{{this.id}}" type="button" class="btn btn-light btn-small" id="delete"><i class="bi bi-person-x"></i> Delete</a>
        </td>
    </tr>
    {{/each}}
    </tbody>
</table>

